main {
  margin-left: 18rem;
  margin-right: 18rem;
}

.start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 6rem;
    padding-top: 4rem;
}
.start img {
    width: 50%;
    aspect-ratio: 3/2;
    border-radius: 1rem;
}

.exercise-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.exercise-info h1 {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 1rem;
}

.exercise-info p {
    font-size: 1.1rem;
    margin-top: 1rem;
}

.exercise-info hr{
    margin-bottom: 1rem;
    border: none;
    height: 1px;
    width: 100%;
    background-color: #000000;
}
.startButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #D7E961;
    color: #000;
    border: none;
    padding: 0.7rem 1.1rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
}
.Steps{
    display: none;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    margin-top: 5rem;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin-top: 3rem;
}

.step-divider {
    width: 95%;
    height: 1px;
    color: #6a6666;
}

.stepCard {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2.5rem;
}

.stepHeader {
    display: flex;
    align-items: center;
    gap: 1.1rem;
}

.stepHeader h1 {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0;
}

.stepNumber {
    font-size: 1.9rem;
    font-weight: bold;
    background-color: #78B5D3;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.insturctions {
    font-size: 1.7rem;
    font-weight: 550;
}

.finish{
    display: none;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #D7E961;
    color: #000;
    border: none;
    padding: 0.7rem 1.1rem;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 1rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.finish img {
    width: 2rem;
    height: 2em;
}