* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 1rem;
    position: fixed; 
    top: 0;                
    left: 0;
    right: 0;
}

.signUp {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.9rem 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
}

.signUp:hover {
    background-color: #0056b3;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container h1 {
    font-size: 2.2rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 6rem;
    font-weight: 550;
}

.login-container label {
    display: block;
    padding: 0;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.5rem;
}


.login-container input {
    width: 35rem;
    height: 3.5rem;
    padding: 0.7rem;
    border-radius: 15px;
    border: 3px solid #DCE0E5;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.signIn {
    width: 35rem;
    height: 2.6rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.2rem;
}

.signIn:hover {
    background-color: #0056b3;
}

@media (max-width: 900px) {
    .login-container input {
        width: 20rem;
    }

    .login-container h1 {
        font-size: 1.8rem;
        margin-bottom: 4rem;
    }

    .signIn{
        width: 20rem;
    }
}