@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-VariableFont_wght.otf") format("opentype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* you can set any value from 100 to 900 */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 4rem;
  height: 3rem;
}

.nav-icons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.4rem;
}

.nav-icons:hover {
  cursor: pointer;
}

.profile-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}