* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 1rem;
}

.account-container {
    margin: 0 3rem;
    padding: 3rem;
}

.profile-header {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.profile-header h1 {
    font-size: 2rem;
}

.profile-header .edit-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #FFFFFF;
    color: #575DDF;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.edit-button img {
    width: 1.75rem;
    height: 1.75rem;
}

.edit-button:hover {
    background-color: #F0F0F0;
}

.profile-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
}

.profile-picture-container {
    position: relative;
    width: 14rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}
.upload-label {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.upload-label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-label::after {
    content: 'Change Picture';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4); /* semi-transparent dark overlay */
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.upload-label:hover::after {
  opacity: 1;
}

#profile-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

#profile-form input,
.dob-container select {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 1rem;
}

.reset-password-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.reset-password-link {
    align-self: flex-end;
    font-size: 0.875rem;
}

.password-change-section {
    display: none;
    flex-direction: column;
    gap: 1rem;
}

.password-change-section.active {
    display: flex;
    width: 100%;
}

.action-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
}

.action-buttons button {
    padding: 0.875rem;
    border: none;
    border-radius: 5px;
    font-size: 0.875rem;
    cursor: pointer;
}

.save-button {
    background-color: #007bff;
    color: #FFFFFF;
}

.save-button:disabled {
    background-color: #c7d2fe;
}

.cancel-button {
    background-color: #f3f4f6;
    color: #374151;
}

.cancel-button:disabled {
    background-color: #e5e7eb;
    color: #9ca3af;
}

.delete-account-button {
    color: #fee2e2;
    background-color: #b91c1c;
    border: 2px solid #fecaca;
    margin-right: auto;
}

@media (max-width: 768px) {
    #account-container {
        width: 90%;
    }
    .profile-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .edit-button {
        align-self: flex-end;
    }
    .profile-section {
        flex-direction: column;
        align-items: center;
    }
}