* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.facilities-container {
    display: flex;
    flex-direction: row;
    margin: 0 4rem;
    gap: 4rem;
    max-height: 100vh;
}

.sidebar {
    width: 50%;
}

.sidebar h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 1rem 0;
}

.location-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.location-header img {
    height: 2rem;
    width: 2rem;
}

.location-header span {
    font-size: 1rem;
    font-weight: 400;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0.6rem 1rem;
    border-radius: 1.25rem;
    border: 2px solid #ccc;
    gap: 0.8rem;
    margin-bottom: 1.5rem;
}

.search-bar img {
    width: 1rem;
    height: 1rem;
}

.search-bar input {
    width: 100%;
    border: none;
    outline: none;
}

.search-bar:focus-within {
    border-color: #000000;
}

.filter-options{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 0.5rem;
}

.filter-options button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 600;
}

.filter-saved, .filter-parks {
    background-color: #C1E3F4;
}

.filter-polyclinics {
    background-color: #7161E9;
    color: #FFFFFF;
}

.filter-community-centres {
    background-color: #D7E961;
}   

.facility-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    overflow-y: auto;
    height: calc(100vh - 23rem);
    padding-right: 0.5rem;
}

.facility-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #F6F5F8;
  border-radius: 1rem;
  padding: 1.25rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  z-index: 1;
}

.facility-card h3 {
    font-size: 1rem;
}

.facility-card p {
    font-size: 0.85rem;
}

.card-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.bg-overlay {
  position: absolute;
  top: -6px;
  right: 18px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #D7E961, #78B5D3);
  border-radius: 1rem;
  transform: translate(12px, 12px);
  z-index: 0;
}

.facility-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    max-height: calc(100vh - 6rem);
    overflow-y: auto;
    padding-right: 0.5rem;
}

.facility-details .details-placeholder {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

#facilityImage,
.facility-header,
.facility-info,
#startNavButton {
  display: none;
}

.facility-header.visible {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.facility-header.visible h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.facility-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.facility-header.visible img {
    width: 1.8rem;
    height: 1.8rem;
}

#facilityImage.visible {
    display: block;
    max-width: 100%;
    max-height: 24rem;
    object-fit: cover;
    border-radius: 1rem;
}

.facility-info.visible {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 1rem;
    padding: 1rem;
}

#startNavButton.visible {
    display: flex;
    flex-direction: row;
    background-color: #D7E961;
    color: #000000;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 900px) {
    .facilities-container {
        flex-direction: column;
        margin: 0 2rem;
    }

    .sidebar, .facility-details {
        width: 100%;
    }

    .facility-card {
        padding: 1rem;
    }

    .facility-header.visible h2 {
        font-size: 1.5rem;
    }

    #facilityImage.visible {
        max-height: 18rem;
    }
}
