* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.facilities-container {
    display: flex;
    flex-direction: row;
    margin: 0 4rem;
    gap: 4rem;
    max-height: 100vh;
    padding-bottom: 2rem;
}

.sidebar {
    width: 40%;
}

.sidebar h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 1rem 0;
}

.location-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.location-header img {
    height: 2rem;
    width: 2rem;
}

.location-header span {
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0.6rem 1rem;
    border-radius: 1.25rem;
    border: 2px solid #ccc;
    gap: 0.8rem;
    margin-bottom: 1.5rem;
}

.search-bar img {
    width: 1rem;
    height: 1rem;
}

.search-bar input {
    width: 100%;
    border: none;
    outline: none;
}

.search-bar:focus-within {
    border-color: #000000;
}

.active-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.active-filters h3{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.remove-filter {
    font-weight: 300;
    margin-left: 0.5rem;
}

.filter-options{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 0.5rem;
}

.filter-options button, .active-filters button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 600;
}

.filter-bookmarked, .filter-community-centres {
    background-color: #C1E3F4;
}

.filter-polyclinics, .filter-parks {
    background-color: #7161E9;
    color: #FFFFFF;
}

.filter-hospitals {
    background-color: #D7E961;
}

.facility-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    overflow-y: auto;
    height: calc(100vh - 23rem);
    padding-right: 0.5rem;
}

.facility-card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #F6F5F8;
    border-radius: 1rem;
    padding: 1.25rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    z-index: 1;
}

.facility-card h3 {
    font-size: 1rem;
}

.facility-card p {
    font-size: 0.85rem;
}

.card-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

.bg-overlay {
    position: absolute;
    top: -6px;
    right: 18px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #D7E961, #78B5D3);
    border-radius: 1rem;
    transform: translate(12px, 12px);
    z-index: 0;
}

.facility-details {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    max-height: calc(100vh - 6rem);
    overflow-y: auto;
    padding-right: 0.5rem;
}

.facility-details .details-placeholder {
    display: block;
    text-align: center;
    margin-top: 1rem;
}

#facilityImage,
.facility-header,
.facility-info,
#facilityMap,
#startNavButton,
#viewReviewsButton {
    display: none;
}

.facility-header.visible {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.facility-header.visible h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.facility-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.facility-header.visible img {
    width: 1.8rem;
    height: 1.8rem;
}

#facilityImage.visible {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
}

.facility-description {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 1rem;
}

.facility-info.visible {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 1rem;
    padding: 1rem;
}

.facility-info.visible p {
    font-weight: 400;
}

.facility-map {
    width: 20%;
}

.facility-map img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#facilityMap.visible {
    display: block;
}

#viewReviewsButton.visible{
    display: flex;
    color: #000000;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #000000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

#startNavButton.visible {
    display: flex;
    flex-direction: row;
    background-color: #D7E961;
    color: #000000;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.bookmark-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.bookmark-popup-content {
    position: relative;
    width: 100vh;
    height: 60vh;
    background-color: #FFFFFF;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.bookmark-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.8rem;
    color: #000000;
    background: transparent;
    border: none;
}

.bookmark-popup-content h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.bookmark-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-bottom: 2rem;
}

.bookmark-input input, .bookmark-input textarea {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.save-bookmark-button {
    background-color: #D7E961;
    color: #000000;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.bookmark-notes-container {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #FFFFFF;
    border: 2px solid #ccc;
    border-radius: 1rem;
}

.notes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.notes-header h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.edit-notes-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: #575DDF;
}

.edit-notes-button img {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.notes-content {
    font-size: 1rem;
    font-weight: 400;
    white-space: pre-wrap;
}

.empty-note {
    color: #999999;
}

@media (max-width: 1200px) {
    .facilities-container {
        flex-direction: column;
        margin: 0 2rem;
        max-height: none;
    }

    .sidebar, .facility-details {
        width: 100%;
        padding-bottom: 2rem;
    }

    .facility-card {
        padding: 1rem;
    }

    .facility-header.visible h2 {
        font-size: 1.5rem;
    }
}
